<div class="card-body text-dark">
    <h6>Rentals
      <span class="badge badge-secondary">
        {{rentalList.length}}</span>
      <span *ngIf="rentalList.length == 0">No rentals</span>
  
    </h6>
    <div *ngFor="let rental of rentalList" style="font-size:12px" [ngSwitch]="rental.title">
      {{rental.title}}
      <app-icon-cat *ngSwitchCase="'Cats'"></app-icon-cat> 
      <app-icon-ship *ngSwitchCase="'Wing Commander'"></app-icon-ship> 
      <app-icon-spider *ngSwitchCase="'Spider-Man 3'"></app-icon-spider> 
    </div>
  
  
    <button class="btn btn-primary btn-sm"
      (click)="onClearClick()"
      *ngIf="rentalList.length > 0"
    >Clear</button>
</div>