<div>
    <h4>Actors</h4>
  
    <div *ngFor="let actor of actors; index as i"
      class="bg-dark text-light p-3 rounded mb-2"
      (click)="editActor(actor)"
      >
      <span>{{(i+1) + '. ' + actor.name}}</span>
    </div>
  
    <form autocomplete="off"
    #actorForm="ngForm" (ngSubmit)="updateActor()"
    >
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name" [(ngModel)]="model.name"
      type="text" class="form-control" id="name">
  
      <label for="movieTitle">Movie</label>
      <input  name="movieTitle" [(ngModel)]="model.movieTitle"
      type="text" class="form-control" id="movieTitle">
  
      <label for="credits">Credits</label>
      <input  name="credits" [(ngModel)]="model.credits"
       type="text" class="form-control" id="credits">
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  </div>